.clbeam {
  offset-anchor: 10px 0px;
  animation: none;
}

.clbeam-container:hover .clbeam {
  animation: clbeam-animation-path;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.05, 0.05, 0.05, 0.03);
  animation-duration: 3s;
  animation-delay: 0s;
}

.clbeam-line-1 {
  offset-path: path("M 3.7 -5 v 5.8 l 6.7 5.9 v 80");
}

@keyframes clbeam-animation-path {
  0% {
    offset-distance: 0%;
  }
  50% {
    offset-distance: 100%;
  }
  100% {
    offset-distance: 100%;
  }
}
